//Medidas

$alinhamentoPrincipal: 60%;
$espacamentoInterno: 30px;
$logoTamanho: 30px;
$titulo: 65px;
$texto: 17px;

//cores

$branco: #fff;
$cinza: #777;
$sombra: 0px 0px 30px rgba(200,196,219,.3);

$corPrincipal: #1b1b4f;;
$corSecundaria: #52eac8;
$corTerciaria: rgb(68, 167, 255);
