//Medidas

$alinhamentoPrincipal: 60%;
$espacamentoInterno: 30px;
$logoTamanho: 30px;
$titulo: 65px;

//cores

$branco: #fff;

$corPrincipal: #5955bd;
$corSecundaria: #52eac8;
$corTerciaria: rgb(68, 167, 255);
