@import "variables";
@import "mixins";

body{
    margin: 0;
    font-family: sans-serif;
}

section, header, footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrap{
    width: $alinhamentoPrincipal;
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

p{
    color: $cinza;
    font-size: $texto;
    line-height: 30px;
}

h4{
    font-size: 19px;
}


#banner{
    background-image: url(../img/home_banner_bg.jpg);
    height: 100vh;
            
    .banner-section{
        flex-direction: column;


        #menu{
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
            position: fixed;
    
            p{
                font-size: $logoTamanho;
                font-weight: 600;
                margin: 0;
                color: $branco;
            }
                
            nav>ul{
                width: 600px;
                display: flex;
                justify-content: space-between;
                list-style: none;
                    
                a{
                    color: $branco;
                }
            }
        }

        #chamada{
            max-width: 600px;
            height: 95vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: $titulo;
                color: $branco;
            }

            p{
                color: $corTerciaria;
                font-size: $logoTamanho - 9px;
            }

            button{
                background-color: $corPrincipal;
                border-color: rgb(0, 0, 0);
                border-radius: 30px;
                color: $branco;
                font-size: 14px;
                padding: 17px 30px;
                margin-top: 80px;
                max-width: 30%;

                &:hover{
                    background-color: $branco;
                    color: rgb(22, 23, 101);
                    border: $branco;
                }
            }
        }
    }
}

#servicos{
    justify-content: space-between;
}

.servicos-item{
    width: 260px;
    background-color: $branco;
    box-shadow: $sombra;
    display: flex;
    flex-direction: column;
    padding: 80px 50px 0;
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 160px;

    img{
        width: 70px;
    }

    h4{
        color: $corPrincipal,
    }

    div {
        width: 63px;
        height: 3px;
        background-color: $corSecundaria;
    }

    a{
        color: $corPrincipal;
        margin: 25px 0 60px 0;
    }

    #linha{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .divisao-bottom{
        width: 200px;
        height: 1px;
        background-color: $corSecundaria;
    }
}


