@import "variables";
@import "mixins";

body{
    margin: 0;
    font-family: sans-serif;
}

section, header, footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrap{
    width: $alinhamentoPrincipal;
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

p{
    color: $cinza;
    font-size: $texto;
    line-height: 30px;
}

h4{
    font-size: 19px;
    color: $corPrincipal;
}

h2{
    font-size: 42px;
    color: $corPrincipal;
}


.banner{
    
             
    #navegacao{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        z-index: 2;
    } 
    
    .scroll{
        padding: 20px;
        background-color: $corPrincipal;
    }

    #menu{
        width: $alinhamentoPrincipal;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        position: fixed;

        p{
            font-size: $logoTamanho;
            font-weight: 600;
            margin: 0;
            color: $branco;
        }
            
        nav>ul{
            width: 600px;
            display: flex;
            justify-content: space-between;
            list-style: none;
                
            a{
                color: $branco;
            }
        }
    }
    

    .banner-section{
        flex-direction: column;

        #chamada{
            max-width: 600px;
            height: 95vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: $titulo;
                color: $branco;
            }

            p{
                color: $corTerciaria;
                font-size: $logoTamanho - 9px;
            }

            button{
                background-color: $corPrincipal;
                border-color: rgb(0, 0, 0);
                border-radius: 30px;
                color: $branco;
                font-size: 14px;
                padding: 17px 30px;
                margin-top: 80px;
                max-width: 30%;

                &:hover{
                    background-color: $branco;
                    color: rgb(22, 23, 101);
                    border: $branco;
                }
            }
        }
    }
}

#banner-home{
    background-image: url(../img/home_banner_bg.jpg);
    height: 100vh;
}

#banner-sobre{
    background-image: url(../img/home_webdeveloper_subheaderbg1.jpg);
    background-repeat: no-repeat;

    #chamada-sobre{
        max-width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: $titulo;
            color: $branco;
        }
    }
}

#banner-como-resgatar{
    background-image: url(../img/home_webdeveloper_subheaderbg3.jpg);
    background-repeat: no-repeat;

    #chamada-como-resgatar{
        max-width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: $titulo;
            color: $branco;
        }
    }
}

#banner-contato{
    background-image: url(../img/home_webdeveloper_subheaderbg2.jpg);
    background-repeat: no-repeat;

    #chamada-contato{
        max-width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: $titulo;
            color: $branco;
        }
    }
}

//Serviços

#servicos{
    justify-content: space-between;
}

.servicos-item{
    width: 23%;
    display: flex;
    flex-direction: column;
    padding: 80px 50px 0;
    box-sizing: border-box;
    margin: 50px 0;
}

.servicos-item-home{
    @extend .servicos-item;

    background-color: $branco;
    box-shadow: $sombra;
    margin: 0 1% 40px;
    border-radius: 6px;
    position: relative;
    bottom: 160px;

    a{
        color: $corPrincipal;
        margin: 25px 0 60px 0;
    }

}

.divisao {
    width: 63px;
    height: 3px;
    background-color: $corSecundaria;
}

#linha{
    display: flex;
    justify-content: center;
    width: 100%;
}

.divisao-bottom{
    width: 200px;
    height: 1px;
    background-color: $corSecundaria;
}

.servicos-img{
    width: 70px;
}


//passos

#passo1{
    background-color: $passo1;
    background-image: url(../img/home_webdeveloper_sectionbg1.png);
    background-repeat: no-repeat;
    padding: 80px 0;

    div{
        justify-content: space-between;
        align-content: center;
    }
}

.passo1-img{
    width: 60%;

    img{
        width: 90%;
        margin-right: 60px;
    }
}

.passo1-conteudo{
    width: 40%;

    div{
        padding-left: 40px;
        
        h2{
            color: $corPrincipal;
        }

        h3{
            color: $corComposta;
        }
    }
}

.passo1-sobre-tech{
    flex-direction: column;
    align-items: center;
}

.passo1-sobre-items{
    width: 100%;
    display: flex;
}

#passo2{
    background-color: $passo2;
    background-image: url(../img/home_webdeveloper_sectionbg2.png);
    background-repeat: no-repeat;
    padding: 80px 0;

    div{
        justify-content: space-between;
        align-content: center;
    }
}

.passo2-img{
    width: 60%;

    img{
        width: 90%;
        margin-left: 60px;
    }
}

.passo2-conteudo{
    width: 40%;

    div{
        padding-left: 40px;
        
        h2{
            color: $corPrincipal;
        }

        h3{
            color: $corComposta;
        }
    }
}

.passo2-sobre-descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.passo2-sobre-item-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.passo2-sobre-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


//Dados

#dados{
    background-image: url(../img/home_webdeveloper_sectionbg3.png);
    background-color: $corPrincipal;
    color: $branco;
    padding: 150px 0;
    text-align: center;
    
}

#dados-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;

    div{
        border: 2px solid $corSecundaria;
        border-radius: 10px;
        padding: 30px;
        width: 25%;
        height: 75%;

        img{
            position: relative;
            bottom: 100px;
        }

        .numero{
            color: $corSecundaria;
            font-size: 100px;
            font-weight: 200;
            margin: 0;
            position: relative;
            bottom: 50px;
        }

        p{
            color: $branco;
            font-weight: 800;
        }
    }
}

//cases

#cases{
    background-image: url(../img/home_webdeveloper_sectionbg5.jpg);
    margin-top: 100px;
}

#case1{
    margin-top: 100px;
    display: flex;

    .case1-conteudo{
        width: 35%;

        h2{
            color: $corPrincipal;
        }

        h4{
            color: $corComposta;
        }
    }

    
    .case1-img{
        width: 60%;
        padding-left: 8%;
        
        a{
            position: relative;
        }

        img{
            max-width: 100%;
            height: auto;
        }

        h2{
            position: absolute;
            bottom: 0;
            left: 20px;
            color: $branco;
        }
    }
}

#case2{
    margin: 100px 0;
    display: flex;

    .case2-img{
        width: 60%;
        padding-right: 8%;
        
        a{
            position: relative;
        }

        img{
            max-width: 100%;
            height: auto;
        }

        h2{
            position: absolute;
            bottom: 0;
            left: 20px;
            color: $branco;
        }
    }

    .case2-conteudo{
        width: 35%;

        p{
            color: $branco;
        }

        ul{
            list-style: none;
            color: $branco;

            li{
                padding: 15px 0;
            }
        }
    }
}

//contato

#contato-box{
    padding: 100px 0;
}

.formulario{
    width: 60%;

    form{
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 30px rgba(200, 196, 219, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        border-radius: 20px;

        input, textarea{
            width: 80%;
            border: none;
            border-bottom: 2px solid $corComposta;
            padding: 15px;
            font-size: 14px;
        }

        button{
            border: none;
            background-color: $corSecundaria;
            color: $branco;
            width: 87%;
            padding: 15px;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 550;
        }
    }
}

.contato-info{
    width: 40%;
    padding: 0 40px;
    box-sizing: border-box;
}

.phone{
    border-bottom: 1px solid $corSecundaria;
    padding-bottom: 20px;

    div{
        padding: 10px 0;
    }

    a{
        color: $cinza;
    }
}

.mail{
    a{
        color: $cinza;
    }
}

//footer

footer{
    border-top: 1px solid $cinza;
    padding: 10px 0;
}

@media only screen and (max-width: 500px) {
    .wrap{
        width: 90%;
    }

    //banner

    #banner{
        background-image: url(../img/home_banner_bg.jpg);
        height: 100vh;
                
        .banner-section{
            flex-direction: column;
    
            #chamada{
    
                h1{
                    font-size: $titulo - 20px;
                    color: $branco;
                }
    
                button{
                    margin-top: 30px;
                    max-width: 50%;
                }
            }
        }
    }

    #banner-sobre{
        #chamada-sobre{
            height: 30vh;
        }
    }

    //serviços

    #servicos{
        justify-content: space-between;
    }
    
    .servicos-item{
        width: 410px;
        position: relative;
        bottom: 90px;
        margin-bottom: 40px;
    }


    //passos

    #passo1{
        padding: 100px 0;

        div{
            justify-content: space-between;
            align-content: center;
        }
    }

    .passo1-img{
        width: 100%;

        img{
            width: 100%;
            margin-right: 0;
        }
    }

    .passo1-conteudo{
        width: 100%;

        div{
            padding-left: 40px;
        }
    }

    #passo2{
        padding: 100px 0;

        div{
            justify-content: space-between;
            align-content: center;
        }
    }

    .passo2-img{
        width: 100%;

        img{
            width: 100%;
            margin-left: 0;
        }
    }

    .passo2-conteudo{
        width: 100%;

        div{
            padding-left: 40px;
        }
    }

    //Dados

    #dados{
        padding: 50px 0;
        
    }

    #dados-box{
        flex-direction: column;
        align-items: center;

        div{
            width: 80%;
            margin-bottom: 100px;
        }
    }

    //cases

    #cases{
        background-image: url(../img/home_webdeveloper_sectionbg5.jpg);
        margin-top: 20px;
    }

    #case1{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .case1-conteudo{
            width: 100%;
        }
        
        .case1-img{
            width: 100%;
        }
    }

    #case2{
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .case2-img{
            width: 100%;
        }

        .case2-conteudo{
            width: 100%;

            p{
                color: $cinza;
            }

            ul{
                list-style: none;
                color: $cinza;

                li{
                    padding: 15px 0;
                }
            }
        }
    }
}