body {
  margin: 0;
  font-family: sans-serif; }

section, header, footer {
  display: flex;
  align-items: center;
  flex-direction: column; }

.wrap {
  width: 60%;
  display: flex;
  flex-wrap: wrap; }

a {
  text-decoration: none; }

p {
  color: #777;
  font-size: 17px;
  line-height: 30px; }

h4 {
  font-size: 19px; }

h2 {
  font-size: 42px; }

#banner {
  background-image: url(../img/home_banner_bg.jpg);
  height: 100vh; }
  #banner .banner-section {
    flex-direction: column; }
    #banner .banner-section #menu {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      position: fixed; }
      #banner .banner-section #menu p {
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        color: #fff; }
      #banner .banner-section #menu nav > ul {
        width: 600px;
        display: flex;
        justify-content: space-between;
        list-style: none; }
        #banner .banner-section #menu nav > ul a {
          color: #fff; }
    #banner .banner-section #chamada {
      max-width: 600px;
      height: 95vh;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #banner .banner-section #chamada h1 {
        font-size: 65px;
        color: #fff; }
      #banner .banner-section #chamada p {
        color: #44a7ff;
        font-size: 21px; }
      #banner .banner-section #chamada button {
        background-color: #1b1b4f;
        border-color: black;
        border-radius: 30px;
        color: #fff;
        font-size: 14px;
        padding: 17px 30px;
        margin-top: 80px;
        max-width: 30%; }
        #banner .banner-section #chamada button:hover {
          background-color: #fff;
          color: #161765;
          border: #fff; }

#servicos {
  justify-content: space-between; }

.servicos-item {
  width: 23%;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(200, 196, 219, 0.3);
  display: flex;
  flex-direction: column;
  padding: 80px 50px 0;
  margin: 0 1% 40px;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  bottom: 160px; }
  .servicos-item img {
    width: 70px; }
  .servicos-item h4 {
    color: #1b1b4f; }
  .servicos-item div {
    width: 63px;
    height: 3px;
    background-color: #52eac8; }
  .servicos-item a {
    color: #1b1b4f;
    margin: 25px 0 60px 0; }
  .servicos-item #linha {
    display: flex;
    justify-content: center;
    width: 100%; }
  .servicos-item .divisao-bottom {
    width: 200px;
    height: 1px;
    background-color: #52eac8; }

#passo1 {
  background-color: #f8faff;
  background-image: url(../img/home_webdeveloper_sectionbg1.png);
  background-repeat: no-repeat;
  padding: 150px 0; }
  #passo1 div {
    justify-content: space-between;
    align-content: center; }

.passo1-img {
  width: 60%; }
  .passo1-img img {
    width: 90%;
    margin-right: 60px; }

.passo1-conteudo {
  width: 40%; }
  .passo1-conteudo div {
    padding-left: 40px; }
    .passo1-conteudo div h2 {
      color: #1b1b4f; }
    .passo1-conteudo div h3 {
      color: #5774bd; }

#passo2 {
  background-color: #edf2ff;
  background-image: url(../img/home_webdeveloper_sectionbg2.png);
  background-repeat: no-repeat;
  padding: 150px 0; }
  #passo2 div {
    justify-content: space-between;
    align-content: center; }

.passo2-img {
  width: 60%; }
  .passo2-img img {
    width: 90%;
    margin-left: 60px; }

.passo2-conteudo {
  width: 40%; }
  .passo2-conteudo div {
    padding-left: 40px; }
    .passo2-conteudo div h2 {
      color: #1b1b4f; }
    .passo2-conteudo div h3 {
      color: #5774bd; }

#dados {
  background-image: url(../img/home_webdeveloper_sectionbg3.png);
  background-color: #1b1b4f;
  color: #fff;
  padding: 150px 0;
  text-align: center; }

#dados-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 90px; }
  #dados-box div {
    border: 2px solid #52eac8;
    border-radius: 10px;
    padding: 30px;
    width: 25%;
    height: 75%; }
    #dados-box div img {
      position: relative;
      bottom: 100px; }
    #dados-box div .numero {
      color: #52eac8;
      font-size: 100px;
      font-weight: 200;
      margin: 0;
      position: relative;
      bottom: 50px; }
    #dados-box div p {
      color: #fff;
      font-weight: 800; }

#cases {
  background-image: url(../img/home_webdeveloper_sectionbg5.jpg);
  margin-top: 100px; }

#case1 {
  margin-top: 100px;
  display: flex; }
  #case1 .case1-conteudo {
    width: 35%; }
    #case1 .case1-conteudo h2 {
      color: #1b1b4f; }
    #case1 .case1-conteudo h4 {
      color: #5774bd; }
  #case1 .case1-img {
    width: 60%;
    padding-left: 8%; }
    #case1 .case1-img a {
      position: relative; }
    #case1 .case1-img img {
      max-width: 100%;
      height: auto; }
    #case1 .case1-img h2 {
      position: absolute;
      bottom: 0;
      left: 20px;
      color: #fff; }

#case2 {
  margin: 100px 0;
  display: flex; }
  #case2 .case2-img {
    width: 60%;
    padding-right: 8%; }
    #case2 .case2-img a {
      position: relative; }
    #case2 .case2-img img {
      max-width: 100%;
      height: auto; }
    #case2 .case2-img h2 {
      position: absolute;
      bottom: 0;
      left: 20px;
      color: #fff; }
  #case2 .case2-conteudo {
    width: 35%; }
    #case2 .case2-conteudo p {
      color: #fff; }
    #case2 .case2-conteudo ul {
      list-style: none;
      color: #fff; }
      #case2 .case2-conteudo ul li {
        padding: 15px 0; }

footer {
  border-top: 1px solid #777;
  padding: 10px 0; }

@media only screen and (max-width: 500px) {
  .wrap {
    width: 90%; }

  #banner {
    background-image: url(../img/home_banner_bg.jpg);
    height: 100vh; }
    #banner .banner-section {
      flex-direction: column; }
      #banner .banner-section #chamada h1 {
        font-size: 45px;
        color: #fff; }
      #banner .banner-section #chamada button {
        margin-top: 30px;
        max-width: 50%; }

  #servicos {
    justify-content: space-between; }

  .servicos-item {
    width: 410px;
    position: relative;
    bottom: 90px;
    margin-bottom: 40px; }

  #passo1 {
    padding: 100px 0; }
    #passo1 div {
      justify-content: space-between;
      align-content: center; }

  .passo1-img {
    width: 100%; }
    .passo1-img img {
      width: 100%;
      margin-right: 0; }

  .passo1-conteudo {
    width: 100%; }
    .passo1-conteudo div {
      padding-left: 40px; }

  #passo2 {
    padding: 100px 0; }
    #passo2 div {
      justify-content: space-between;
      align-content: center; }

  .passo2-img {
    width: 100%; }
    .passo2-img img {
      width: 100%;
      margin-left: 0; }

  .passo2-conteudo {
    width: 100%; }
    .passo2-conteudo div {
      padding-left: 40px; }

  #dados {
    padding: 50px 0; }

  #dados-box {
    flex-direction: column;
    align-items: center; }
    #dados-box div {
      width: 80%;
      margin-bottom: 100px; }

  #cases {
    background-image: url(../img/home_webdeveloper_sectionbg5.jpg);
    margin-top: 20px; }

  #case1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #case1 .case1-conteudo {
      width: 100%; }
    #case1 .case1-img {
      width: 100%; }

  #case2 {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #case2 .case2-img {
      width: 100%; }
    #case2 .case2-conteudo {
      width: 100%; }
      #case2 .case2-conteudo p {
        color: #777; }
      #case2 .case2-conteudo ul {
        list-style: none;
        color: #777; }
        #case2 .case2-conteudo ul li {
          padding: 15px 0; } }

/*# sourceMappingURL=style.css.map */
